extends ../base/layout

block content
    div.container
        .row
            h1 Sign in to Debatron
        .row
            form.col.s12( action='/auth/login', method='POST', role='form')
                fieldset
                    .row
                        .input-field.col.s12
                            i.mdi-action-account-circle.prefix
                            input(type='text', name='username', placeholder='Email',required, autofocus)
                    .row
                        .input-field.col.s12
                            i.mdi-action-lock-open.prefix
                            input(type='password', name='password', placeholder='Password', required)
                    button.btn.waves-effect.waves-light.blue.center-align(type='submit') Sign in
                a.center-align(href='/auth/signup') Create an account
                hr
                div.center-align
                    a.btn.waves-effect.waves-light.blue(href='/auth/facebook')
                        i.fa.fa-facebook
                        span &nbsp;Sign in
                    &nbsp; or &nbsp;
                    a.btn.waves-effect.waves-light.blue(href='/auth/twitter')
                        i.fa.fa-twitter
                        span &nbsp;Sign in
                if message
                    div.alert.alert-warning.center-align(role='alert') #{message}