extends base/layout

block css_content
    link(rel='stylesheet', href='/css/chat.css')

block js_content
    script(src="https://cdn.socket.io/socket.io-1.3.7.js")
    script(src="/js/chat.js")

block content
    input(type="hidden", id="username", value="#{username}")
    ul.pages
      li.chat.page
        .chatArea
          ul.messages
        button.buttonPetition Pedir palabra
        input.inputMessage(placeholder='Escribe aquí...',autocomplete="off")