extends base/layout

block js_content
    script(src="/js/createDebate.js")

block content
 
    .container
      .row
        .col.l9
            .row                             
              .input-field.col.s10
              input#txfTitle.validate(type='text')
              label(for='txfTitulo') TITLE
            .row                             
              .input-field.col.s10
              textarea#txaDescription.materialize-textarea
              label(for='txaDescription') DESCRIPTION
              .row                             
              .input-field.col.s10
              textarea#txaDescription.materialize-textarea
              label(for='txaTags') TAGS
        .col.l3
         .row          
           h5 Tipo de debate
           p
           input#rbnFormal(name='typeDebate', type='radio',value='formal')
           label(for='rbnFormal') Formal
           p
           input#rbnFast(name='typeDebate', type='radio',value='fast')
           label(for='rbnFast') Fast
           p
           input#rbnDebatron.with-gap(name='typeDebate', type='radio',value='debatron',checked='checked')
           label(for='rbnDebatron') Debatron
         .row          
           h5 Visibilidad
           p
           input#rbnPublic(name='visibility', type='radio',value='public',checked='checked')
           label(for='rbnPublic') Public
           p
           input#rbnPrivate(name='visibility', type='radio',value='private')
           label(for='rbnPrivate') Private
         .row          
           h5 Lanzamiento
           p
            input#cbxDate(type='checkbox')
            label(for='cbxDate') Date           
         a#btnCreateDebate.waves-effect.waves-blue.blue.btn.btn-flat.modal-action.modal-close(href='#') Create debate