#modalCreateTeam.modal
  .modal-content
    h2.center-align Create a Team
    .center-align
      .divider
      form.col.s12
        .row.center-align
          .input-field.col.m10.offset-m1.blue-text
            i.mdi-social-people.prefix
            input#txfTeamName.validate(type='text')
            label(for='txfTeamName') Team Name
          .input-field.col.m10.offset-m1.blue-text
            i.mdi-action-description.prefix
            input#txfDescription.validate(type='text')
            label(for='txfDescription') Description
          .input-field.col.m10.offset-m1.blue-text
            select#sltAutocompleteUsers.sltAutocompleteUsers.col.m10(multiple="multiple")                              
      .divider
      p
        a.btn.btn-flat.white.modal-close(href='#') Cancel
        a#btnCreateTeam.waves-effect.waves-blue.blue.btn.btn-flat.modal-action.modal-close(href='#') Create