extends base/layout

block js_content
    script(src="/js/init.js")

block content
    // main content
    .container
      .row
        .col.l9
            .row
                .col.s12
                    h4.grey-text
                        | Debates en este momento
                .col.s4
                    .card
                        .card-image
                          img(src='//placehold.it/800x450/2196f3/1565c0')
                        .card-title.center-align
                            a(href='chat')| Aborto Terapéutico
                        .card-content.center-align
                            | Ético & Moral
                        .card-action.grey-text.text-lighten-1
                          p
                            i.tiny.material-icons insert_chart
                            | 200/250 Participantes
                          p
                            i.tiny.material-icons visibility
                            | 200 Observadores
                .col.s4
                    .card
                        .card-image
                          img(src='//placehold.it/800x450/2196f3/1565c0')
                        .card-title.center-align
                            a(href='chat')| Aborto Terapéutico
                        .card-content.center-align
                            | Ético & Moral
                        .card-action.grey-text.text-lighten-1
                          p
                            i.tiny.material-icons insert_chart
                            | 200/250 Participantes
                          p
                            i.tiny.material-icons visibility
                            | 200 Observadores
                .col.s4
                    .card
                        .card-image
                          img(src='//placehold.it/800x450/2196f3/1565c0')
                        .card-title.center-align
                            a(href='chat')| Aborto Terapéutico
                        .card-content.center-align
                            | Ético & Moral
                        .card-action.grey-text.text-lighten-1
                          p
                            i.tiny.material-icons insert_chart
                            | 200/250 Participantes
                          p
                            i.tiny.material-icons visibility
                            | 200 Observadores
                .col.s4
                    .card
                        .card-image
                          img(src='//placehold.it/800x450/2196f3/1565c0')
                        .card-title.center-align
                            a(href='chat')| Aborto Terapéutico
                        .card-content.center-align
                            | Ético & Moral
                        .card-action.grey-text.text-lighten-1
                          p
                            i.tiny.material-icons insert_chart
                            | 200/250 Participantes
                          p
                            i.tiny.material-icons visibility
                            | 200 Observadores
                
                
        .col.l3
          #aside
            h4 &nbsp;
            button#btnCreateDebate.btn.waves-effect.waves-light.blue(type='submit', name='action')
              | Crear Debate
              i.material-icons.right queue
            .dividers
            button#btnOpenModalCreateTeam.btn.waves-effect.waves-light.pink.modal-trigger(data-target="modalCreateTeam")
              | Crear Equipo 
              i.material-icons.right work
            h4 Tendencias
            a.chip.blue(href='#')
                | gop
            a.chip.blue(href='#')
                | Debatron
            a.chip.green(href='#')
                | IV Devs
            a.chip.orange(href='#')
                | Violación
            a.chip.red(href='#')
                | FormasDeAborto
            a.chip.pink(href='#')
                | soy inmortal
            a.chip.yellow(href='#')
                | chilelalleva

        include createTeam.jade    
        include login.jade
