#modalLogin.modal
  .modal-content
    h2.center-align Login
    .center-align
      .divider
      form.col.s12( action='/auth/login', method='POST', role='form')
        .row.center-align
          .input-field.col.m10.offset-m1.blue-text
            i.mdi-action-account-circle.prefix
            input#icon_prefix.validate(type='text')
            label(for='icon_prefix') Username
          .input-field.col.m10.offset-m1.blue-text
            i.mdi-action-lock-open.prefix
            input#icon_password.validate(type='password')
            label(for='icon_password') Password
          .input-field.col.m10.offset-m1.blue-text
            input#filled-in-box.blue-text(type='checkbox', checked='checked')
            label(for='filled-in-box') Remember me next time
      .divider
      p
        a.btn.btn-flat.white.modal-close(href='#') Cancel
        a.waves-effect.waves-blue.blue.btn.btn-flat.modal-action.modal-close(href='#') Login