doctype html
html(lang="es")
head
title TEST DB
body
h1 TEST - DB
#container.col
a(href="../testDB/getUsers/") Obtener usuarios
br
a(href="../testDB/createUser") Crear usuarios

br
br

a(href="../testDB/getCategorys/") Obtener categorías
br
a(href="../testDB/createCategory") Crear categorías

br
br

a(href="../testDB/getTeams/") Obtener teams
br
a(href="../testDB/createTeam") Crear team

br
br

a(href="../testDB/getDebates/") Obtener debates
br
a(href="../testDB/createDebate") Crear debate