.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.dividers{
	margin-bottom: .5em;
}
.chip{
	color: white;
	margin: .3em;
	text-transform: uppercase;
}
.card .card-title{
	font-weight: 700;
	font-size: 18px;
}
.card .card-action{
	padding: 0;
	padding-left: 1em;
}

@media (min-width:992px) {
    #aside {
        width:250px;
    }
}

@media (max-width:992px) {
    #aside.pinned, #aside.pin-bottom {
        position:static !important;
        top: auto !important;
    }
}