doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/select2/dist/css/select2.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    block css_content

    script(src="/jquery/dist/jquery.min.js")
    script(src='/Materialize/dist/js/materialize.min.js')
    script(src='/select2/dist/js/select2.min.js')
    block js_content

  body
    include menu_header.jade
    block content

  include footer.jade