.navbar-fixed
  nav.blue
    .nav-wrapper.container
      a.brand-logo(href='/') Debatron
      a.button-collapse(href='#', data-activates='mobile-demo')
        i.mdi-navigation-menu
      ul.right.hide-on-med-and-down
        li
          a.modal-trigger(href='#modalLogin')
            i.mdi-action-perm-identity
        li
          a(href='#')
            i.mdi-navigation-refresh
        li
          a(href='#')
            i.mdi-navigation-more-vert
      ul#mobile-demo.side-nav
        li
          a(href='#')
            input#search(type='search', placeholder='search')
        li
          a.modal-trigger(href='#modalLogin') Login
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
nav.orange.lighten-2.flat.hide-on-med-and-down
  .nav-wrapper.container
    form
      .input-field
        input#search(type='search', required='')
        label(for='search')
          i.mdi-action-search
        i.mdi-navigation-close